html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.padding-top {
  padding-top: 2em;
}

.right {
  float: right;
}

.text-highlight {
  color: #404040;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#96e6a1), to(#d4fc79));
  background-image: linear-gradient(to bottom right, #96e6a1, #d4fc79);
  padding: 0 12px;
  border-radius: 12px;
}

.drop-style {
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
          box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
  overflow: hidden;
}

.text-bold {
  font-weight: 900;
}

::-moz-selection {
  background-color: #96e6a1;
  color: #FFF;
}

::selection {
  background-color: #96e6a1;
  color: #FFF;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #FFF;
  font-family: "Nunito", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Nunito", sans-serif;
  color: #9aa4ad;
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: 0.012rem;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 1.825rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

p {
  color: #404040;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  line-height: 1.825rem;
}

li {
  font-size: 1.25rem;
}

a {
  border: none;
  text-decoration: none;
  outline: 0;
  color: inherit;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

a:hover, a:focus {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

img {
  height: auto;
  width: 100%;
}

.button, .button-secondary {
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#96e6a1), to(#d4fc79));
  background-image: linear-gradient(to bottom right, #96e6a1, #d4fc79);
  color: #404040;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  padding: 16px 20px 12px 20px;
  position: relative;
  text-align: center;
  border-bottom: 4px solid rgba(191, 191, 191, 0.38);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.button:hover, .button-secondary:hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
          box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
  overflow: hidden;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.button i, .button-secondary i {
  line-height: 1.125rem;
  vertical-align: middle;
}

.button-secondary {
  background-image: none;
  background-color: #c6cfd6;
  border-bottom: 4px solid #c6cfd6;
}

.link {
  color: #404040;
  text-decoration: underline;
  -webkit-text-decoration-color: #96e6a1;
          text-decoration-color: #96e6a1;
  font-weight: 900;
}

.link:hover {
  color: #9aa4ad;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 1.5em;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .row-flex {
    display: block;
    margin-bottom: 46px;
  }
}

.col-flex-2 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media (max-width: 768px) {
  .col-flex-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 15px 0;
  }
}

.col-flex-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 768px) {
  .col-flex-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.three-col {
  float: left;
  margin: 0 4% 0 0;
  width: 30%;
}

@media (max-width: 768px) {
  .three-col {
    margin: 2rem 0;
    width: 100%;
  }
}

.three-col:last-of-type {
  margin-right: 0;
}

.work,
.about,
.contact,
.toolbox {
  padding: 4rem 0;
}

@media (max-width: 768px) {
  .work {
    padding: 2rem 0;
  }
}

.section_title {
  margin-bottom: 25px;
}

nav {
  background-color: rgba(64, 64, 64, 0.97);
  opacity: 0.95;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-logo {
  color: #FFF;
  display: inline-block;
  margin: 14px 0;
  width: 40px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-logo {
    margin: 0;
  }
}

.nav-logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.nav-link {
  display: inline-block;
  margin-left: 12px;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  padding: 20px 8px;
}

.nav-link:hover {
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.nav-link-container {
  text-align: right;
}

@media (max-width: 768px) {
  .nav-link-container {
    display: none;
  }
}

.intro {
  background-color: #353635;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2396e6a1' fill-opacity='0.06'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 540px;
  padding: 4rem 0;
  text-shadow: 0 4px 6px rgba(51, 51, 51, 0.2);
}

@media (max-width: 768px) {
  .intro {
    min-height: 100px;
    padding: 2rem 0;
  }
}

.intro h1 {
  color: #FFF;
  margin-top: 140px;
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 2rem;
    line-height: 2.75rem;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 1046px) {
  .profile-pic {
    display: none;
  }
}

.work {
  background-color: #F5F5F5;
}

.work-container {
  background-size: cover;
  min-height: 215px;
  padding: 2rem;
  position: relative;
  margin-bottom: 3rem;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
          box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .work-container {
    margin-bottom: 0;
  }
}

.work-container_title {
  font-weight: 900;
}

.work-container_description {
  padding-bottom: 20px;
  color: #9aa4ad;
}

.w0 {
  background-image: url("../img/voiceopsapp-cover.jpg");
}

.w1 {
  background-image: url("../img/voiceopssite-cover.jpg");
  background-position: center;
}

.w2 {
  background-image: url("../img/maps-homeimg.jpg");
  background-position: center;
}

.w3 {
  background-image: url("../img/pos-cover.jpg");
}

.w4 {
  background-image: url("../img/tnportal-cover2.jpg");
}

.toolbox {
  background: #F5F5F5;
}

.toolbox-icon {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.toolbox-square {
  background-color: #FFF;
  padding: 30px 0;
  border-radius: 4px;
}

.toolbox p {
  text-align: center;
  font-weight: 900;
}

.wireframe {
  background: url("../img/wireframe.svg") no-repeat center;
}

.code {
  background: url("../img/code.svg") no-repeat center;
}

.thinking {
  background: url("../img/thinking.svg") no-repeat center;
}

.about {
  background: #FFF;
}

.about_img {
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
          box-shadow: 0 6px 10px 0 rgba(106, 106, 106, 0.1);
  overflow: hidden;
}

.contact {
  background: #FFF;
}

.project_header {
  margin-top: 120px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .project_header {
    padding-bottom: 0px;
  }
}

.project_title {
  color: #404040;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .project_title {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.img-caption {
  font-style: italic;
  color: #9aa4ad;
  padding-top: 8px;
}

.previous,
.next {
  display: inline-block;
  width: 48%;
}

@media (max-width: 768px) {
  .previous,
  .next {
    width: 100%;
    margin-bottom: 10px;
  }
}

.previous {
  float: left;
}

@media (max-width: 768px) {
  .previous {
    float: right;
  }
}

.next {
  float: right;
}

@media (max-width: 768px) {
  .next {
    float: left;
  }
}

.previous i,
.next i {
  margin-top: -3px;
}

.sidebar {
  background: rgba(255, 255, 255, 0.99999);
  color: #404040;
  bottom: 0;
  -webkit-box-shadow: 1px 0 4px 0 rgba(106, 106, 106, 0.1);
          box-shadow: 1px 0 4px 0 rgba(106, 106, 106, 0.1);
  height: 100%;
  right: -80rem;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 30px;
  z-index: 20;
  display: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar {
    display: block;
  }
}

.sidebar ul {
  margin: 30px 0;
}

.sidebar li {
  padding-bottom: 12px;
}

.sidebar_nav a {
  font-size: 2rem;
  font-weight: 900;
}

.sidebar_social a {
  color: #404040;
  font-weight: 900;
  text-decoration: underline;
  -webkit-text-decoration-color: #96e6a1;
          text-decoration-color: #96e6a1;
}

.sidebar_contact a {
  color: #9aa4ad;
}

.sidebar_contact a i {
  color: #F5F5F5;
  font-size: inherit;
  margin-right: 8px;
  position: relative;
  top: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.sidebar_button {
  margin: 10px 25px;
}

.sidebar-expanded {
  right: 0;
}

.burger {
  position: fixed;
  right: 35px;
  top: 10px;
  width: 40px;
  z-index: 30;
  display: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .burger {
    display: inline-block;
    top: -5px;
    right: 10px;
    margin: 1rem 1.5rem;
  }
}

.burger .menu-button {
  cursor: pointer;
  height: 46px;
  width: 46px;
  position: absolute;
}

.burger .menu-button:hover .menu-bar {
  background: #96e6a1;
}

.burger .menu-button .menu-bar {
  background: #FFF;
  border-radius: 4px;
  height: 4px;
  position: absolute;
  width: 46px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.burger .menu-button #bar1 {
  top: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burger .menu-button #bar2 {
  opacity: 1;
  top: 20px;
}

.burger .menu-button #bar3 {
  top: 30px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cooked {
  z-index: 30;
}

.cooked .menu-button #bar1 {
  top: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #9aa4ad;
}

.cooked .menu-button #bar2 {
  opacity: 0;
}

.cooked .menu-button #bar3 {
  top: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #9aa4ad;
}

.footer {
  background: #404040;
  padding: 6rem 0;
}

.footer p {
  color: #FFF;
}

.footer .ghost-icon {
  background: url("../img/ghost.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 auto;
  height: 46px;
  width: 46px;
}

.footer .ghost-icon:hover {
  -webkit-animation: boo 1s infinite;
          animation: boo 1s infinite;
}

@media (max-width: 768px) {
  .footer .ghost-icon {
    display: none;
  }
}

.footer .tickle {
  display: block;
  margin: 0 auto;
  padding: 0px 8px;
  font-size: 1rem;
  opacity: 0.4;
  text-align: center;
  width: 130px;
}

@media (max-width: 768px) {
  .footer .tickle {
    visibility: hidden;
  }
}

.footer .heart-icon {
  background: url("../img/heart.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;
  opacity: 0.7;
  height: 20px;
  width: 20px;
  -webkit-animation: pulse .35s infinite alternate;
          animation: pulse .35s infinite alternate;
}

.footer_button {
  float: right;
}

@media (max-width: 768px) {
  .footer_button {
    float: left;
  }
}

.footer_button i {
  float: right;
  padding-left: 4px;
}

@-webkit-keyframes boo {
  10%, 90% {
    -webkit-transform: rotate(-10deg) scale(2);
            transform: rotate(-10deg) scale(2);
  }
  20%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes boo {
  10%, 90% {
    -webkit-transform: rotate(-10deg) scale(2);
            transform: rotate(-10deg) scale(2);
  }
  20%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  40%, 60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */